<!-- <h1>UserMailer#password_reset</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/password_reset.html.erb
</p>
 -->
<p>Thank you for signing up for DirectionR! Please click on the email below to confirm your account:</p>

<p><%= edit_user_url(@user.account_create_token) %></p>

<p>If you did not create an account with DirectionR, and you believe this email to be erroneous, please click here:</p>